.link {
  text-decoration: none;
  color: var(--third-color);
  font-size: 3rem;
}

.link:hover {
  color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--main-color);
  position: sticky;
  top: 0;
  z-index: 96;
}

.logo {
  width: auto;
  height: 80px;
}
